
<div class="icon-bar five-up">
  <a class="item">
    <label>VISIONAMOS MINI</label>
  </a>
  {{#link-to 'empresas' }} Empresas {{/link-to}}
</div>

<div class="row">
  <div class="large-10 large-offset-1 column">
    {{outlet}}
  </div>
</div>




